﻿doctype html
html
  head
    title LISA Web
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='shortcut icon' href='/assets/favicon.ico')
    link(rel="stylesheet" href="/assets/slds/styles/salesforce-lightning-design-system.css" data-hints type="text/css")
    link(rel="stylesheet" href="/assets/retool/app/css/retool-app.css" type="text/css")
    link(rel="stylesheet" href="/assets/include/lightning/lightning.css" type="text/css")
    if prod
      link(rel="stylesheet" href="/assets/components/layouts.css" type="text/css")
      link(rel="stylesheet" href="/assets/components/public.css" type="text/css")
      link(rel="stylesheet" href="/assets/components/app.css" type="text/css")
  body(style="margin:0")
    div#retool-app.retool-app.slds
        div.slds-spinner_container
            div.slds-spinner.slds-spinner--large
                div.slds-spinner__dot-a
                div.slds-spinner__dot-b
    script var RETOOL_SETTINGS= {ideHost:"#{ideHost}",dbHost:"#{dbHost}"};
    script(language="JavaScript" src="/assets/retool/app/js/retool-client.js" charset="UTF-8")
    script(language="JavaScript" src="/assets/include/lightning/lightning.js" charset="UTF-8")
    if prod
      script(language="JavaScript" src="/assets/components/layouts.js" charset="UTF-8")
      script(language="JavaScript" src="/assets/components/public.js" charset="UTF-8")
      script(language="JavaScript" src="/assets/components/app.js" charset="UTF-8")

 
    