<template extends="div">
  <body>
    <div class="this__header-bar {{(expanded) ? &quot;this--expanded&quot; : &quot;&quot;}} -theme--inverse">
      <div class="-grid">
        <div class="-col this--nowrap -no-flex">
          <a>
            <img class="this__icon -m-top--medium -m-left--small" src="/assets/images/ui-banner-logo.png" width="52px"/>
            <rt:eventhandler event="onclick"></rt:eventhandler>
          </a>
        </div>
        <div class="-col--padded -text-align--center">
          <div class="-form--inline -m-top--small -m-bottom--small this__search-bar">
            <slds:searchbox value="fieldName" bind="searchValue">                            {{value.name}}
              <crm:search></crm:search>
            </slds:searchbox>
          </div>
        </div>
        <div class="-col -text-align--right -m-top--x-small this--nowrap -large-show -no-flex -m-left--large">
          <div class="-media">
            <lightning:menus.dropdown class="-m-left--small">
              <div class="-media__figure">
                <span class="-avatar -avatar--circle -avatar--small">
                  <img src="/assets/slds/images/avatar1.jpg"/>
                </span>
              </div>
              <div class="-dropdown -dropdown--right ">
                <ul>
                  <li class="-dropdown__item">
                    <a>Change Tag Group
                      <rt:eventhandler event="onclick"></rt:eventhandler>
                    </a>
                  </li>
                  <li class="-dropdown__item">
                    <a>Create New Tag Group
                      <rt:eventhandler event="onclick"></rt:eventhandler>
                    </a>
                  </li>
                  <li class="-dropdown__item -has-divider--top-space">
                    <a>Delete Tag Group
                      <rt:eventhandler event="onclick"></rt:eventhandler>
                    </a>
                  </li>
                </ul>
              </div>
            </lightning:menus.dropdown>
            <div class="-media__body">
              <a>
                <span class="-truncate">{{Session.user.account}}</span>
                <br/>
                <span class="-text-heading--small">{{Session.user.name}}</span>
                <rt:eventhandler event="onclick"></rt:eventhandler>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="this__nav-links">
        <a>
          <slds:icons.base class="-icon--small" icon="utility/rows"></slds:icons.base>
          <rt:eventhandler event="onclick">
            <rt:js expression="expanded = !expanded"></rt:js>
          </rt:eventhandler>
        </a>
        <a>
          <span>Dashboard</span>
          <rt:eventhandler event="onclick">
            <crm:home></crm:home>
          </rt:eventhandler>
        </a>
        <a>Job Orders
          <rt:eventhandler event="onclick">
            <crm:job-status></crm:job-status>
          </rt:eventhandler>
        </a>
        <a>                    Reports
          <rt:eventhandler event="onclick">
            <crm:report></crm:report>
          </rt:eventhandler>
        </a>
        <a>                    Inventory
          <rt:eventhandler event="onclick">
            <crm:inventory></crm:inventory>
          </rt:eventhandler>
        </a>
        <a class="-float--right">                    Sign out
          <rt:eventhandler event="onclick">
            <rt:js expression="Session.destroy()"></rt:js>
            <auth:home></auth:home>
          </rt:eventhandler>
        </a>
      </div>
      <rt:if condition="true">
        <div class="-grid -m-top--small -p-top--x-small -wrap">
          <div class="-col -no-flex -col--padded">
            <div class="-text-heading--label -has-divider--bottom1">Inbound</div>
            <ul class="-m-top--xx-small">
              <li>
                <a>
                  <span>New Shipments</span>
                  <span class="-badge -theme--success -m-left--x-small">6</span>
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Create Inbound Receipt
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Find Inbound Receipt
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Reports
                  <rt:eventhandler event="onclick">
                    <crm:index></crm:index>
                  </rt:eventhandler>
                </a>
              </li>
            </ul>
          </div>
          <div class="-col -no-flex -col--padded">
            <div class="-text-heading--label -has-divider--bottom1">Shipping</div>
            <ul class="-m-top--xx-small">
              <li>
                <a>                                    Create Delivery Slip
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Find Delivery Slip
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Reports
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
            </ul>
          </div>
          <div class="-col -no-flex -col--padded">
            <div class="-text-heading--label -has-divider--bottom1">Invoicing</div>
            <ul class="-m-top--xx-small">
              <li>
                <a>                                    Create Invoice
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Find Invoice
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
            </ul>
          </div>
          <div class="-col -no-flex -col--padded">
            <div class="-text-heading--label -has-divider--bottom1">Reporting</div>
            <ul class="-m-top--xx-small">
              <li>
                <a>                                    Home
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Inventory Report
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Transaction Listing
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
            </ul>
          </div>
          <div class="-col -no-flex -col--padded">
            <div class="-text-heading--label -has-divider--bottom1">Setup</div>
            <ul class="-m-top--xx-small">
              <li>
                <a>                                    Home
                  <rt:eventhandler event="onclick">
                    <crm:button-test></crm:button-test>
                  </rt:eventhandler>
                </a>
              </li>
              <li>
                <a>                                    Products
                  <rt:eventhandler event="onclick"></rt:eventhandler>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </rt:if>
    </div>
    <div class="this__body {{(expanded) ? &quot;this--expanded&quot; : &quot;&quot;}}">
      <rt:body></rt:body>
    </div>
  </body>
</template>

<script runat="client">
search(filter){
  var result = [];
  result.push({id:"0",name:"New Employee",keyword:"employee"});
  for(var i = 0; i < 50;i++){
    result.push({id:i.toString(),name:filter + i.toString(),keyword:null});
  }
  return result;
}

beforeNavigate(){
  props.expanded = false;
}
</script>

<style>
.this__header-bar {
  height: 84px;
  padding: 0px 15px;
  transition: height 0.25s;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.this__header-bar.this--expanded {
  height: 250px;
}

.this__header-bar a {
  color: #e2e6ea;
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none !important;
}

.this__header-bar a:active, .this__header-bar a:focus {
  text-decoration: none;
  color: #fff !important;
}

.this__header-bar a:hover {
  text-decoration: none;
  color: #fff;
}

.this__header-bar a .slds-text-body--small {
  color: #e2e6ea;
}

.this__header-bar li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.this__header-bar .slds-form-element__label {
  color: #fff;
}

.this__header-bar .slds-form-element {
  width: 100%;
  padding: 0 0 0 40px;
}

.this__header-bar .slds-form-element__control {
  width: 100%;
}

.this__header-bar .slds-form-element__control > input {
  font-size: 15px;
  border: none;
}

.this__header-bar .slds-badge {
  padding: 0.15rem 0.5rem;
}

.this__icon {
}

.this__company {
  color: #e8e8e8;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  margin-top: 17px;
}

.this__search-bar {
  margin-left: auto;
  margin-right: auto;
}

.this--nowrap {
  white-space: nowrap;
}

.this__nav-links {
  margin-top: -3px;
}

.this__nav-links a {
  padding: 0px 8px;
  margin-right: 4px;
}

.this__nav-links .slds-icon {
  fill: #e2e6ea;
}

.this__body {
  margin-top: 84px;
  transition: margin-top 0.25s;
   position:relative;
  z-index:0
}

.this__body.this--expanded {
  margin-top: 250px;
 
}
</style>

<props>
  <rt:property name="showSearch" label="Show Search"></rt:property>
</props>

<init>
  <rt:js expression="searchValue = &quot;&quot;"></rt:js>
  <rt:js expression="expanded = false"></rt:js>
</init>
